#gb-ad-ecards {
    color: #FFFFFF;
    background-color: #2C3E50;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    margin: 16px 0;
}
#gb-ad-ecards a {
    color: #E74C3C;
}
#gb-ad-ecards h4 {
    font-weight: 300;
    font-size: 1.2em;
    line-height: 1.5;
    margin: 8px 0;
}
#gb-ad-ecards .inside {
    padding: 8px 24px 24px 24px;
}
#gb-ad-ecards .gb-footer {
    color: #FFFFFF;
    padding: 16px 24px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.15);
            box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.15);
}
#gb-ad-ecards img {
    width: 48px;
}
#gb-ad-ecards hr {
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    border-bottom: 0 none;
}
#gb-ad-ecards a.gb-documentation {
    color: #F1C40F;
}

.ecards-lite-icon {
    background-color: #F39C12;
    color: #ffffff;
    padding: 2px 4px;
    font-size: 11px;
    text-transform: uppercase;
    border-radius: 3px;
    font-weight: 400;
    border-left: 4px solid rgba(0, 0, 0, 0.25);
    text-shadow: none;
}
.ecards-pro-icon {
    background-color: #9B59B6;
    color: #ffffff;
    padding: 2px 4px;
    font-size: 11px;
    text-transform: uppercase;
    border-radius: 3px;
    font-weight: 400;
    border-left: 4px solid rgba(0, 0, 0, 0.25);
    text-shadow: none;
}
.ecards-pro-label {
    opacity: 0.75;
    cursor: not-allowed !important;
}

.codor {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 12px;
    background-color: #FFFFFF;
    display: inline-block;
    padding: 2px 4px;
    color: #0366d6;
    border-radius: 3px;
}



/*
 * Attach additional images to any post or page straight from Media Library
 */
#twp-attach-post-images-list-container {}
#twp-attach-post-images-list li {
    position: relative;
    width: 75px;
    height: 75px;
    float: left;
    margin: 1px;
    background: #000;
}
#twp-attach-post-images-list li img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 2px;
}
#twp-attach-post-images-list li a {
    position: absolute;
    top: 4px;
    right: 4px;
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 4px;
    border-radius: 2px;
}
#twp-attach-post-images-list li a:hover {
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.75);
}

.ecards-pager-nav {
    margin: 16px 0;
}
.ecards-pager-nav span {
    display: inline-block;
    padding: 4px 8px;
    margin: 1px;
    cursor: pointer;
    font-size: 14px;
    background-color: #FFFFFF;
    border: 1px solid #e1e1e1;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
}
.ecards-pager-nav span:hover,
.ecards-pager-nav .pg-selected {
    background-color: #f9f9f9;
    border: 1px solid #CCCCCC;
}
