.ecard-container select,
.ecard-container input[type="text"],
.ecard-container input[type="email"],
.ecard-container input[type="submit"],
.ecard-container textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 8px;
	margin-bottom: 4px;
}
.ecard-container select,
.ecard-container input[type="text"],
.ecard-container input[type="email"],
.ecard-container textarea {
    border: 1px solid rgba(169, 169, 169, 0.75);
    -webkit-border-radius: 2px;
            border-radius: 2px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
.ecard-container input[type="checkbox"] {
    margin: 0;
}
.ecard-container {
    position: relative;
}
.ecards-separator {
    clear: both;
    margin: 32px 0 0 0;
}

.ecard-inner-container .ecard {
    width: 32%;

    padding: 8px;
    margin: 2px;
    background-color: rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 2px;
            border-radius: 2px;
}
.ecard {
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.ecard-container label {
    display: inline-block;
}
.ecard-container label input {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
.ecard-container label:hover input[type="radio"],
.ecard-container label:hover input[type="radio"]:focus,
.ecard-container label:hover input[type="radio"]:active,
.ecard-container label:hover input[type="radio"]:checked {
    -webkit-transform: scale(2);
        -ms-transform: scale(2);
            transform: scale(2);
}

.ecard-container #captcha {
	vertical-align: middle;
}

#ecard_from,
#ecard_email_from,
#ecard_to,
#ecard_message {
    width: 50%;
}

@media screen and (max-width: 720px) {
    #ecard_from,
    #ecard_email_from,
    #ecard_to,
    #ecard_message {
        width: 100%;
    }
}

#ecard_send {
    padding: 8px 16px;
}



.ecard-inner-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
}
.ecard-inner-container .ecard img {
    max-width: 100%;
}

@media all and (max-width: 720px) {
    .ecard-inner-container .ecard {
        width: 49%;
    }
}
@media all and (max-width: 480px) {
    .ecard-inner-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .ecard-inner-container .ecard {
        width: 100%;
    }
}
